body{margin: 0;}

ul.gallery {
    margin: 24px auto 0 auto;
    padding: 0;
    list-style-type: none;
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}
.gallery-link img {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-item:hover {
  transform: scale(1.05);
}


